body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:brown;
}

h1 {
    border-bottom: red;
    color: red;
    font-size: 16px;
}

a {
background-color: seagreen;
font-size: medium;
color:snow
}
